# Copiar para terraform.tfvars e preencher
# NUNCA commitar terraform.tfvars

gcp_project          = "teste-487810"
gcp_credentials_file = "../../../teste-487810-522c16ca6819.json"
ssh_public_key       = "ssh-ed25519 AAAA... rafae@DESKTOP-UIMBPOC"
ssh_port             = 2277

# e2-micro = free tier (1 vCPU, 1GB RAM) — suficiente para teste
# e2-small = (1 vCPU, 2GB RAM) — igual ao DO droplet atual
machine_type = "e2-small"
